pip
pillow
click>=7.0
ftfy==5.8
regex
pytorch torchvision torchaudio pytorch-cuda=11.6 -c pytorch -c nvidia
pandas==1.1.5
dspipe==0.2.3
numpy==1.19.5
tqdm==4.55.2
fastapi==0.61.2
uvicorn==0.11.8
streamlit
nltk==3.7
pybase64
transformers==4.16.2
pdfplumber
PyPDF2
moviepy
jellyfish
matplotlib
gTTS
BeautifulSoup4
simplet5
playsound
